<app-header></app-header>
<!-- В этом тего роутер отображает необходимые компоненты -->
<router-outlet></router-outlet>

<div class="container">
  <label>Поиск</label>
  <input class = "form-control" [(ngModel)]= "search">
  <app-interface
    (workerCreated)="onWorkerAdded($event)"
    (headWorkerCreated)="onHeadWorkerAdded($event)"></app-interface> <!--Задаем
оработчики событий для EventEmmitorов из компонента interface -->
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-worker-element *ngFor="let workerElement of service.workerElements | filter: search; let i = index"
                          [worker]="workerElement"></app-worker-element> <!--Передача данных в
свойство worker компонента workerElement -->
    </div>
  </div>
</div>
<div class="row" *ngFor="let post of posts">
  <div class="col-2">
    {{post.id}}
  </div>
  <div class="col-10">
    {{post.title}}
  </div>
  <div class="col-12">
    {{post.body}}
  </div>
</div>
